*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    height: 100vh;
    background: url(../images/headerbg.png) no-repeat center /cover;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    display: flex;
}
.header__menu-link{
    font-size: 16px;
    color: black;
    line-height: 12px;
    margin-left: 40px;
    transition: color 300ms;
}
.header__menu-link:hover{
    color: #6699cc;
}